::ng-deep #treeview {
  display: inline-block;
}
::ng-deep #basinOverview {
  text-align: center;
}
::ng-deep  .title{
  text-align: center;
  font-size: 3em;
  margin: 5px;
}
::ng-deep #basinOverview > img {
  width: 450px;
  margin: 5px;
}
::ng-deep #basinOverview > div {
  text-align: left;
  margin: 5px;
  font-size: 1.5em;
  text-indent: 2em;
}
::ng-deep #projectOverview > img {
  width: 450px;
  margin: 5px;
}
::ng-deep #projectOverview > div {
  text-align: left;
  margin: 5px;
  font-size: 1.5em;
  text-indent: 2em;
}
