<h2 class="content-block">工程信息</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-responsive-box
      singleColumnScreen="xs sm">
      <dxi-row [ratio]="1"></dxi-row>

      <dxi-col [ratio]="1"></dxi-col>
      <dxi-col [ratio]="4"></dxi-col>
      <dxi-item>
        <dxi-location [row]="0" [col]="0"></dxi-location>
<!--        <dxi-location [row]="0" [col]="0" screen="sm"></dxi-location>-->
        <dx-tree-view
          id="treeview"
          [items]="infos"
          (onItemClick)="selectItem($event)">
        </dx-tree-view>
      </dxi-item>
      <dxi-item>
        <dxi-location [row]="0" [col]="1"></dxi-location>
<!--        <dxi-location [row]="0" [col]="0" screen="sm"></dxi-location>-->
<!--        流域概况-->
        <div class="widget-container" id="basinOverview" *ngIf="IsBasinOverView">
          <div class="title">流域概况</div>
          <div>{{reservoirDetails.infonature||basinOverview}}</div>
          <img [src]="reservoirDetails.infonatureimagepath.path||basinOverviewImage" alt="basinOverviewImage"/>
        </div>
<!--        工程概况-->
        <div class="widget-container" id="projectOverview" *ngIf="IsProjectOverview">
          <div class="title">工程概况</div>
          <div>{{reservoirDetails.infoproject||projectOverview}}</div>
          <img [src]="reservoirDetails.infoprojectimagepath.path|| projectOverviewImage" alt="projectOverviewImage"/>
        </div>
<!--        工程特性表-->
        <div class="widget-container" id="projectProperties" *ngIf="IsProjectProperties">
          <div class="title">工程特性表</div>
          <dx-data-grid
            [dataSource]="projectProperties"
            [showBorders]="true">

            <dxo-paging
              [pageSize]="10">
            </dxo-paging>

            <dxi-column dataField="name" caption="特性名"></dxi-column>
            <dxi-column dataField="value" caption="特性值"></dxi-column>
          </dx-data-grid>
        </div>

<!--        工程图表-->
        <div class="widget-container" id="engineeringChart" *ngIf="IsEngineeringChart">
          <div class="title">大坝断面图</div>
          <img [src]="reservoirDetails.infosectionimagepath.path || damSectionImage" alt="damSection"/>
          <div class="title">工程地质图</div>
          <img [src]="reservoirDetails.infogeoimagepath.path || geologicalImage" alt="geological"/>
        </div>


      </dxi-item>
    </dx-responsive-box>

  </div>
</div>
