<h2 class="content-block">撤离路线信息</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <dx-data-grid
        #dataGrid
        [dataSource]="dataSource"
        [repaintChangesOnly]="true"
        [showBorders]="true">
        <dxo-editing
          mode="cell"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"></dxo-editing>


        <dxi-column dataField="settlementid" caption="安置点序号"></dxi-column>
        <dxi-column dataField="routepoint" caption="撤离路线途径点"></dxi-column>
        <dxi-column dataField="time" caption="撤离时间"></dxi-column>
        <dxi-column dataField="transport" caption="撤离交通工具"></dxi-column>

      </dx-data-grid>
    </div>
</div>
