<h2 class="content-block">撤离路线信息</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <dx-data-grid
        #dataGrid
        [dataSource]="dataSource"
        [repaintChangesOnly]="true"
        [showBorders]="true">
        <dxo-editing
          mode="cell"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"></dxo-editing>


        <dxi-column dataField="settlementid"></dxi-column>
        <dxi-column dataField="routepoint"></dxi-column>
        <dxi-column dataField="time"></dxi-column>
        <dxi-column dataField="transport"></dxi-column>

      </dx-data-grid>
    </div>
</div>
