<h2 class="content-block">应急预案首页</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <div class="transparent-menu">
        <dx-menu
          #menu
          orientation="horizontal"
          [dataSource]="menuItems"
          displayExpr="name"
          (onItemClick)="itemClick($event)"
        >
        </dx-menu>
      </div>
      <div class="transparent-popup">
        <div>基本工程特性表</div>
        <div>库容曲线和泄流能力</div>
      </div>
      <dx-map
        #map
        center="Nanjing,China"
        [zoom]="14"
        [height]="800"
        width="100%"
        provider="bing"
        [controls]="true"
        [markers]="markers"
        (onMarkerAdded)="markerAdded($event)"
      >
      </dx-map>

      <dx-popup
        [width]="660"
        [height]="540"
        [showTitle]="true"
        [title]="currentProject.Name"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible"
      >
        <div *dxTemplate="let data of 'content'">
          <div class='popup-property-details'>
            <div class='popup-property-details'>
              <div>基本工程特性表</div>
              <div>库容曲线和泄流能力</div>
            </div>
          </div>
        </div>
      </dx-popup>
    </div>
</div>
