::ng-deep .popup-property-details {
  overflow: hidden;
  position: relative;
}
::ng-deep .popup-property-details .images {
  width: 700px;
}

::ng-deep .popup-property-details img {
  height: 205px;
  margin: 10px 10px 10px 0;
}

::ng-deep .transparent-menu {
  position: absolute;
  background-color: transparent;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

::ng-deep .transparent-menu:hover {
  background-color: lightblue;
}

::ng-deep .transparent-popup {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  z-index: 10;
  transition: top 0.5s ease-in-out;
  height: 400px;
  width: 300px;
  margin-top: 400px;
}
