::ng-deep .responsive-paddings > .title{
  text-align: center;
  font-size: 2em;
  margin: 5px;
}

::ng-deep .responsive-paddings > div{
  text-indent: 2em;
  text-align: left;
  font-size: 1.5em;
  margin: 5px;
}

::ng-deep .responsive-paddings > img {
  width: 50%;
  max-height: 100%;
  margin-top: 5px;
}
