<h2 class="content-block">安置点信息库</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <dx-data-grid
        #dataGrid
        [dataSource]="dataSource"
        [repaintChangesOnly]="true"
        [showBorders]="true">
        <dxo-editing
          mode="cell"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"></dxo-editing>

        <dxi-column dataField="indexnumber" caption="序号"></dxi-column>

        <dxi-column dataField="capacity" caption="容纳人口数量"></dxi-column>

        <dxi-column dataField="longitude" caption="经度"></dxi-column>

        <dxi-column dataField="lantitude" caption="纬度"></dxi-column>


        <dxi-column dataField="reservoirid" caption="水库编号"></dxi-column>



      </dx-data-grid>
    </div>
</div>
