<!--<h2 class="content-block">下游保护村庄</h2>-->
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <dx-data-grid
        #dataGrid
        [dataSource]="dataSource"
        [repaintChangesOnly]="true"
        [showBorders]="true">
        <dxo-editing
          mode="row"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"></dxo-editing>


        <dxi-column dataField="name" caption="村庄名称"></dxi-column>
        <dxi-column dataField="personid" caption="人员编码"></dxi-column>
        <dxi-column dataField="contactinfo" caption="联系方式"></dxi-column>
        <dxi-column dataField="population" caption="人口"></dxi-column>
        <dxi-column dataField="settlementid" caption="安置点序号"></dxi-column>
        <dxi-column dataField="reservoirid" caption="水库"></dxi-column>



      </dx-data-grid>
    </div>
</div>
