<!--<h2 class="content-block">Safety Appraisal Status</h2>-->
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <div class="custom-container">
        <div class="title">工程安全鉴定现状</div>
        <div>
          <dx-data-grid
            #dataGrid
            [dataSource]="dataSource"
            [repaintChangesOnly]="true"
            [showBorders]="true">
            <dxi-column dataField="time" caption="时间及单位" alignment="center" ></dxi-column>
            <dxi-column dataField="item" caption="安全评价项目" alignment="left" ></dxi-column>
            <dxi-column dataField="grade" caption="等级" alignment="left" > </dxi-column>
          </dx-data-grid>
        </div>
        <div class="title">存在的主要问题</div>
        <div>
          1.	上水库采用全库盆防渗，主坝面板混凝土和库底土工膜防渗面积大，主坝、库底变形尚未完全收敛，运行期应长期重视上水库坝体变形、渗漏量监测，定期进行放空检查，出现异常情况，应按照报警机制和应急预案及时有效处理。
          2.	建议业主单位继续加强运行期的风险管控、隐患排查治理和应急管理，针对工程实际适时开展地下洞室火灾、水淹厂房等应急预案情景构建，利用信息化手段提升应急管理水平和处置能力。
        </div>
      </div>
    </div>
</div>
