<!--<h2 class="content-block">应急指挥部中的职责</h2>-->
<div class="content-block">
    <div class="dx-card responsive-paddings">
      <dx-data-grid
        #dataGrid
        [dataSource]="dataSource"
        [repaintChangesOnly]="true"
        [showBorders]="true">
        <dxo-editing
          mode="row"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"></dxo-editing>


        <dxi-column dataField="name" caption="职责"></dxi-column>


      </dx-data-grid>
    </div>
</div>
