html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.content {
  line-height: 1.5;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.content-block {
  margin: 0;

  .screen-x-small & {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.responsive-paddings {
  padding: 20px;
  min-height:800px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

::ng-deep #treeview {
  display: inline-block;
}
//::ng-deep #basinOverview {
//  text-align: center;
//}
::ng-deep .custom-container > .title{
  text-align: center;
  font-size: 2em;
  margin: 5px;
}

::ng-deep .custom-container {
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.1);
  //border-width: 5px;
  //border-style: dashed;
  padding: 10px;
  text-align: center;
}

::ng-deep .custom-container > div{
  text-indent: 2em;
  text-align: left;
  font-size: 1.5em;
  margin: 5px;
}

::ng-deep .custom-container > img {
  width: 50%;
  max-height: 100%;
  margin-top: 5px;
}
::ng-deep .buttons-column {
  flex-wrap: nowrap;
  display: flex;
}

::ng-deep .buttons-column > div{
  margin: 10px 10px;
  text-align: center;
}

::ng-deep .left-content {
  margin: 10px 10px;
  text-align: center;
}

::ng-deep .right-content > img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
}
